.navbar{
    background-color: #252439;
}

a{
     color:white;
    font-size: 18px;  
}
li{
    padding-right: 15px;
}
.active-link{
    border-bottom: 3px solid;
    padding-bottom: 0;
}
nav{
    height: 80px;
}