<!-- <app-navbar></app-navbar> -->
<app-user-form-details></app-user-form-details>

<!-- <nav class="navbar navbar-expand-lg  navbar-dark">
    <a class="navbar-brand" routerLink="home" style="font-weight:bold;font-size:25px;color: white;margin-left: 10%;">MyPortfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="margin-right:5%" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#myAbout" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#myService"  routerLinkActive="active-link">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#myPortfolio" routerLinkActive="active-link">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#myBlog" routerLinkActive="active-link">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myContact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
     </nav>

<app-home id="myHome"></app-home>
<app-about id="myAbout"></app-about>
<app-service id="myService"></app-service>
<app-portfolio id="myPortfolio"></app-portfolio>
<app-blog id="myBlog"></app-blog>
<app-contact id="myContact"></app-contact>
<router-outlet></router-outlet> -->

